$main_animation:all 0.3s ease-in;

html {
  box-sizing: border-box;
}

body {

  background: #F2F2F2;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #0F1E36;

}


button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: $main_animation;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@import 'audio';


.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}






.temp {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temp__header {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.temp__img {
  max-width: 7rem;

}

.temp__link:hover {
  color: #1e30f586;
}

.container {
  min-width: 90rem;
  margin: 0 auto;

  @media (max-width: 102.4rem) {
    max-width: 55rem;
    min-width: auto;
  }

  @media (max-width: 65rem) {
    max-width: 30rem;
    min-width: auto;
  }
}

.header {
  text-align: center;
}

.player {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &-btn {
    width: 140px;
    height: 30px;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 2;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid #000;

    @media (max-width: 650px) {
      max-width: 100px;
      min-width: auto;
    }
  }

  &-video.active {
    border-top: 2px solid #1e30f586;
    border-right: 2px solid #1e30f586;
    border-bottom: 2px solid transparent;
  }

  &-audio.active {
    border-top: 2px solid #1e30f586;
    border-right: 2px solid #1e30f586;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #1e30f586;
  }


  &-radio.active {
    border-top: 2px solid #1e30f586;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #1e30f586;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}